*{
  margin: 0;
  font-family: "Gill Sans", sans-serif;
}

.header{
  background: #FAEBD7;
  height: 10vh;
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container{
  background: #FAEBD7 url('../images/food.jpg');
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url('../images/food.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-container{
  background: #FAEBD7;
  height: 30vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  border-radius: 2vw;
  border: 1px solid black;
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.4);
}

.single-tab{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
.middle-tab{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}